<h1><%= @restaurant.name %></h1>
<h3>Address:</h3>
<p><%= @restaurant.address %></p>
<h3>Phone number:</h3>
<p><%= @restaurant.phone_number %></p>
<h3>Category:</h3>
<p><%= @restaurant.category %></p>

<h2>Reviews</h2>
<% if @restaurant.reviews.empty? %>
  <p>No reviews yet!</p>
<% else %>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
<% end %>
<h3>Add a review</h3>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>


<p><%= link_to "Back", restaurants_path %></p>


