<h1><%= @restaurant.name %></h1>
<h3>Address:</h3>
<p><%= @restaurant.address %></p>
<h3>Phone number:</h3>
<p><%= @restaurant.phone_number %></p>
<h3>Category:</h3>
<p><%= @restaurant.category %></p>

<h2>Reviews</h2>
<% if @restaurant.reviews.empty? %>
  <p>No reviews yet!</p>
<% else %>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
<% end %>
<p>
  <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
</p>

<p><%= link_to "Back", restaurants_path %></p>


